obj
Service References
packages
Debug
Release
*.bak
*.mwb
/ipch
/TVPlay.sdf
/TVPlay.suo
/TVPlay/*.opensdf
/TVPlay/*.suo
/*.vsp
*.vsp
*.sdf
*.suo
*.opensdf
/*.opendb
/*.db
*.user
/TVPlay/bin
/*.log
