obj
Service References
packages
Debug
Release
*.bak
*.mwb
/ipch
/TVPlay.sdf
/TVPlay.suo
/TVPlay/*.opensdf
/TVPlay/*.suo
/*.vsp
*.vsp
*.sdf
*.suo
*.opensdf
/*.opendb
/*.db
*.user
/.vs
/*.log
/TAS.FFMpegUtils/x64
/TVPlay/bin
/TAS.Client.Common/*.DotSettings
/dependencies/bin
/ffmpeg/x86/bin
