ControllerCaspar
obj
bin
Service References
packages
ffmpeg
Debug
*.bak
*.mwb
/ffmpeg54
/ffmpeg55
/ipch

Release

/Crawl/assets
/CrawlCommander/lib/*.jar
/CrawlCommander/src/*.class
/Crawl/out/*.ft
Scripts
/ClipChecker
/Testy
/TVPlay.sdf
/TVPlay.suo
x64
/ffmpeg56
/Templates/Zegar/assets
/Templates/Zegar/lib
/TVPlay/*.opensdf
/TVPlay/*.suo
/*.vsp
*.vsp
*.sdf
examples
help
*.suo
*.opensdf
