<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <Configuration>Release</Configuration>
    <PublishDir>..\publish\TVPlayClient\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <DebugType>none</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <AllowedReferenceRelatedFileExtensions>*.pdb</AllowedReferenceRelatedFileExtensions>
  </PropertyGroup>
</Project>