<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <connectionStrings>
    <add name="tasConnectionString" connectionString="SERVER=localhost;DATABASE=tas2;UID=root;PASSWORD=haslo;Keepalive=300;charset=utf8;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  
  <appSettings>    
    <add key="Instance" value="0"/>
    <add key="DatabaseType" value="MySQL" />
  </appSettings>
</configuration>
