<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="tasConnectionString" connectionString="SERVER=localhost;DATABASE=tas;UID=root;PASSWORD=haslo;Keepalive=300;charset=utf8;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <runtime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="IngestFolders" value="IngestFolders.xml" />
    <add key="LocalSettings" value="LocalSettings.xml"/>
    <add key="TempDirectory" value="c:\temp\media" />
    <add key="Instance" value="0" />
    <add key="VolumeReferenceLoudness" value="-23" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>