<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="tasConnectionString" connectionString="SERVER=localhost;DATABASE=tas;UID=root;PASSWORD=haslo;Keepalive=300;charset=utf8;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <runtime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="IngestFolders" value="IngestFolders.xml" />
    <add key="LocalSettings" value="LocalSettings.xml"/>
    <add key="TempDirectory" value="c:\temp\media" />
    <add key="Instance" value="0" />
    <add key="VolumeReferenceLoudness" value="-23" />
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="TAS.WS">
        <endpoint binding="netTcpBinding" bindingConfiguration="ultra"
          contract="TAS.ISSM" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:1062/tas" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding  name="ultra"
                  maxBufferPoolSize="2147483647"
                  maxBufferSize="2147483647"
                  maxConnections="2147483647"
                  maxReceivedMessageSize="2147483647"
                  portSharingEnabled="false"
                  transactionFlow="false"
                  listenBacklog="2147483647">
          <security mode="None">
            <message clientCredentialType="None"/>
            <transport clientCredentialType="None" protectionLevel="None"/>
          </security>
          <reliableSession enabled="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>