<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="tasConnectionString" connectionString="SERVER=localhost;DATABASE=tas;UID=root;PASSWORD=haslo;Keepalive=300;charset=utf8;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <runtime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="IngestFolders" value="IngestFolders.xml" />
    <add key="LocalDevices" value="LocalDevices.xml"/>
    <add key="TempDirectory" value="c:\temp\media" />
    <add key="Instance" value="0" />
    <add key="VolumeReferenceLoudness" value="-23" />
  </appSettings>
</configuration>