<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="File"
      layout="${time}|${logger}|${level:uppercase=true}|${message} ${exception:format=tostring}"
      fileName="${basedir}/logs/${shortdate}.log" />
    <target name="checkmk" xsi:type="Network"
      layout="${hostname}.${windows-identity:userName=false:domain=true}|${local-ip:addressFamily=InterNetwork} ${process-name}: ${logger}|${level:uppercase=true}|${message} ${exception:format=tostring}${newline}"
      address="tcp://hofek-ubuntu:514" />
    <target name="debugger" xsi:type="Debugger" layout="${logger}::${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <!--<logger name="*" minlevel="Warn" writeTo="checkmk" />-->
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>